---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

// Our variables
$base-font-family: "Roboto", sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;
$text-color:       #F8F8F8;
$background-color: #33373B;
$brand-color:      #25B9FD;
$header-text-color: $background-color;
$header-background: $text-color;
$error: #D33257;
$success: #71BA51;

$grey-color:       #EEEFF3;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1024px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
