<h3>PROFESSIONAL SKILLS</h3>

<ul>
	<li>
		<label>HTML &amp; CSS</label>
		<div class="progress">
			<div id="html-css" class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:0%;"></div>
		</div>
	</li>
	<li>
		<label>SASS/SCSS</label>
		<div class="progress">
			<div id="sass-scss" class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
	</li>
	<li>
		<label>jQuery</label>
		<div class="progress">
			<div id="jQuery" class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
	</li>
	<li>
		<label>Javascript</label>
		<div class="progress">
			<div id="Javascript" class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
	</li>
	<li>
		<label>AngularJS</label>
		<div class="progress">
			<div id="AngularJS" class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
	</li>
	<li>
		<label>Photoshop</label>
		<div class="progress">
			<div id="Photoshop" class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
	</li>
	<li>
		<label>Illustrator</label>
		<div class="progress">
			<div id="Illustrator" class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
	</li>
	<li>
		<label>Sketch</label>
		<div class="progress">
			<div id="Sketch" class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
	</li>
</ul>